<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template1}">
<head>
<meta charset="UTF-8">
<title>Bad request</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">Bad request</div>
					<div class="panel-body">
						<div class="red">Sorry, bad request.</div>
					</div>
				</div>
			</div>
	</div>
</body>
</html>