<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Authentication</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-md-12 spacer40">
	<div class="center bg-light border1">
		<div class="logo"></div>
		<div class="">
			<div th:if="${param.error}" class="red">Incorrect email or password.</div>
			<div th:if="${param.logout}" class="red">You have been logged out.</div>
			<form th:action="@{/login}" method="post">
				<div class="text-left">
					<div>
						<label>Email:</label>
						<input type="text" name="email">
					</div>
					<div class="spacer20">
						<label>Password:</label>
						<input type="password" name="password">
					</div>
					<div class="spacer20">
						<label>Remember me:</label>
						<input type="checkbox" name="remember-me" />
					</div>
				</div>
				<div class="spacer20">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
			<div>
				<a th:href="@{/user/registration}" class="btn btn-light">Register</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>