<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template1}">
<head>
<meta charset="UTF-8">
<title>Profile</title>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<div class="col-md-6">
				<div th:if="profile">
					<h2>Profile</h2>
					<div class="padding40 bg-light">
						<div>
							<label class="bold marginrt20">Email:</label>
							<label th:text="${profile.email}"></label>
						</div>
						<div>
							<label class="bold marginrt20">Firstname:</label>
							<label th:text="${profile.firstname}"></label>
						</div>
						<div>
							<label class="bold marginrt20">Lastname:</label>
							<label th:text="${profile.lastname}"></label>
						</div>
						<div>
							<label class="bold marginrt20">Registration date:</label>
							<label th:text="${profile.dateCreated}"></label>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>