<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration form - PayMyBuddy</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<section>
			<div class="col-md-12">
				<h2>Registration form</h2>
				<form action="/user/registration" th:object="${user}" method="POST" enctype="utf8">
				    <div>
				        <label>Firstname</label>
				        <input type="text" name="firstname" th:value="*{firstname}"/>
				        <p class="red" th:each="error: ${#fields.errors('firstname')}" 
				          th:text="${error}">Validation error</p>
				    </div>
				    <div>
				        <label>Lastname</label>
				        <input type="text" name="lastname" th:value="*{lastname}"/>
				        <p class="red" th:each="error : ${#fields.errors('lastname')}" 
				          th:text="${error}">Validation error</p>
				    </div>
				    <div>
				        <label>Email</label>
				        <input type="email" name="email" th:value="*{email}"/>
				        <p class="red" th:each="error : ${#fields.errors('email')}" 
				          th:text="${error}">Validation error</p>
				    </div>
				    <div>
				        <label>Password</label>
				        <input type="password" name="password" th:value="*{password}"/>
				        <p class="red" th:each="error : ${#fields.errors('password')}" 
				          th:text="${error}">Validation error</p>
				    </div>
				    <div>
				        <label>Confirm password</label>
				        <input type="password" name="confirmedPassword" th:value="*{confirmedPassword}"/>
				        <p class="red" th:each="error : ${#fields.errors('confirmedPassword')}" 
				          th:text="${error}">Validation error</p>
				        <p class="red"
                          th:if="${#fields.hasGlobalErrors()}"
                          th:each="error : ${#fields.errors('global')}"
                          th:text="${error}">Validation error</p>
				    </div>
				    <button type="submit" class="btn btn-primary">Register</button>
				</form>
				
				<a th:href="@{/login}" class="btn btn-light">Login</a>
			</div>
		</section>
	</div>
</body>
</html>