<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>Pay My Buddy</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<div id="header" class="navbar navbar-default">
				<div class="container-fluid">
					<div id="logo"></div>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/home}">Home</a></li>
						<li><a th:href="@{/transaction}">Transactions</a></li>
						<li><a th:href="@{/bank}">Bank</a></li>
						<li><a th:href="@{/profile}">Profile</a></li>
						<li><a th:href="@{/contact}">Contact</a></li>
						<li><a th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
			</div>
			<div th:if="${session.breadcrumb}">
				<ul class="breadcrumb">
					<li th:each="entry : ${session.breadcrumb}">
				         <a th:href="${entry.query}" th:unless="${entry.isCurrent}" th:text="${entry.label}">Home</a>
				         <span th:if="${entry.isCurrent and entry.label != 'Home'}" th:text="${entry.label}">Home</span>
				    </li>
				 </ul>
			</div>
		</header>
		<div class="container">
			<section layout:fragment="content"></section>
		</div>
		<footer>
			<div class="navbar-fixed-bottom">
				<small></small>
			</div>
		</footer>
	</body>
</html>