<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template1}">
<head>
<meta charset="UTF-8">
<title>Transaction</title>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<div class="col-md-12">
				<div>
					<a th:href="@{/contact}" class="btn btn-primary">Add a connection</a>
				</div>
				<div th:if="${connections}">
					<h2>Send money</h2>
					<form th:action="@{/saveTransfer}" method="post">
						<select name="destEmail">
							<option value="">Select a connection</option>
							<option 
								th:each="c:${connections}" 
								th:value="${c.email}" 
								th:text="${c.firstname} + ' ' + ${c.lastname} + ' ' + ${c.email}">
							</option>
						</select>
						<label for="amout">Amount</label>
						<input type="number" name="amount" min="0" step="1">
						<label for="description">Description</label>
						<input type="text" name="description">
						<div class="red" th:text="${#httpServletRequest.getParameter('error')}"></div>
						<div class="green" th:text="${#httpServletRequest.getParameter('success')}"></div>
						<div>
						    <button type="submit" class="btn btn-primary">Pay</button>
						</div>
					</form>
				</div>
				<div class="" th:if="${operations}">
					<h2>My transactions</h2>
					<div>
						<table class="table table-striped">
							<tr>
								<th>Transaction</th>
								<th>Connection</th>
								<th>Description</th>
								<th>Amount</th>
								<th>Fee</th>
							</tr>
							<tr th:each="o:${operations}">
								<td th:text="${o.type}"></td>
								<td th:text="${o.connection}"></td>
								<td th:text="${o.description}"></td>
								<td th:text="${o.amount}"></td>
								<td th:text="${o.fee}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>