<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template1}">
<head>
<meta charset="UTF-8">
<title>Transaction</title>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<div class="col-md-12">
				<div th:if="${connections}">
					<div>
						<div class="inline"><h2>Send money</h2></div>
						<div class="inline right"><a th:href="@{/contact}" class="btn btn-primary">Add a connection</a></div>
					</div>
					<form th:action="@{/saveTransfer}" method="post" class="bg-light padding40">
						<div>
							<div class="inline">
								<select name="destEmail" class="form-select height30">
									<option value="" class="dropdown-item">Select a connection</option>
									<option 
										th:each="c:${connections}" 
										th:value="${c.email}" 
										th:text="${c.firstname} + ' ' + ${c.lastname} + ' ' + ${c.email}">
									</option>
								</select>
							</div>
							<div class="inline right">
								<label for="amount">Amount (€)</label>
								<input type="number" name="amount" min="0" step="1" value="0">
							</div>
						</div>
						<div class="spacer20">
							<label for="description">Description</label>
							<input type="text" name="description">
						</div>
						<div class="red" th:text="${#httpServletRequest.getParameter('error')}"></div>
						<div class="green" th:text="${#httpServletRequest.getParameter('success')}"></div>
						<div class="spacer20 center">
							<button type="submit" class="btn btn-success width200">Pay</button>
						</div>
					</form>
				</div>
				<div class="spacer40" th:if="${operations}">
					<h2>My transactions</h2>
					<div>
						<table class="table table-striped">
							<tr class="bg-success">
								<th>Type</th>
								<th>Connection</th>
								<th>Description</th>
								<th>Amount (€)</th>
								<th>Fee (€)</th>
							</tr>
							<tr th:each="o:${operations}">
								<td th:text="${o.type}"></td>
								<td th:text="${o.connection}"></td>
								<td th:text="${o.description}"></td>
								<td th:text="${o.amount}"></td>
								<td th:text="${o.fee}"></td>
							</tr>
						</table>
						<div th:if="${pages}" class="pagination">
							<ul class="nav nav-pills">
								<li th:each="page:${pages}">
									<a th:href="@{/transaction(page=${page})}" th:text="${page}"
										th:class="${page == (operations.number + 1)} ? 'btn disabled'"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>